#include <iostream>

using namespace std;

class Vector
{
private:

    int* data;
    int Vtensize;
    int Vsize;

public:

    Vector()
    {
        cout << "Конструктор без параметров" << endl;
        Vsize = 0;
        Vtensize = 10;
        data = nullptr;
    }

    Vector(int newSize)
    {
        cout << "Конструктор c параметрaми" << endl;
        Vsize = newSize;
        Vtensize = 10;
        data = new int[Vtensize];
        for (int i = 0; i < Vsize; ++i) {
            data[i] = rand();
        }
    }

    Vector(const Vector& Ob)
    {
        cout << "Конструктор копирования" << endl;
        Vsize = Ob.Vsize;
        Vtensize = Ob.Vtensize;
        data = new int[Vtensize];
        for (int i = 0; i < Vsize; i++)
        {
            data[i] = Ob.data[i];
        }
    }

    ~Vector() 
    { 
        cout << "Деструктор" << endl;
        delete[] data;
    }

    int operator[](int index)
    {
        return data[index];
    }

    void pushBack(int element)
    {
        if (Vtensize == Vsize)
        {
            Vtensize += 10;
            int* Newdata = new int[Vtensize];
            for (int i = 0; i < Vsize; i++)
            {
                Newdata[i] = data[i];
            }
            delete[] data;
            data = Newdata;
        }
        data[Vsize] = element;
        Vsize++;
    }

    void replace(int what, int element)
    {
        for (int i = 0; i < Vsize; i++)
        {
            if (data[i] == what)
            {
                data[i] = element;
            }
        }
    }

    int find(int what)
    {
        for (int i = 0; i < Vsize; i++)
        {
            if (data[i] == what)
            {
                return i;
            }
        }
        return -1;
    }

    int size()
    {
        cout << "Размер ";
        return Vsize;
    }

    friend void operator<<(ostream& out, Vector& vec);
};

void operator<<(ostream& out, Vector& vec)
{
    for (int i = 0; i < vec.Vsize; i++)
    {
        out << vec[i] << " ";
    }
    out << endl;
}

int main()
{
    setlocale(LC_ALL, "ru");
    Vector vec1;
    Vector vec2(7);
    cout << vec2;
    cout << vec2.size() << endl;
    vec2.pushBack(2);
    cout << vec2;
    cout << vec2.size() << endl;
    vec2.replace(2, 5);
    cout << vec2;
    cout << vec2.size() << endl;
    cout << vec2.find(6334) << endl;
    Vector vec3 = vec2;
    return 0;
}
